<html>
<body>
<% if logged_in? %>
<p>ユーザー用ページです。</p>
<p><%= image_tag "#{current_user.image_url.gsub("_normal","_bigger")}" %><%= current_user.user_name %>

<%= link_to 'nowplayingの取得を開始する', 'timeline_page', class: 'btn btn-default' %>
<%= link_to '現在の取得データ確認！', '../anthem_view/anthem_view', class: 'btn btn-default'%>

<%= link_to '取得を中断する', '../pages/killthread', class: 'btn btn-default' %>
<% else %>
<p>ログインしてください</p>
<% end %>
</body>
</html>
